*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin:0 auto;
}

.container-fluid{
    max-width: 100%;
}

.debug [class*="col-"]{
    background-color: rgb(0, 98, 255);
    border: 2px solid white;
    color: white;
    text-align: center;
}

.green{
    background-color: rgb(57, 175, 57)!important;
    border: 1px solid rgb(0, 98, 255)!important;
}

.mb-30{
    margin-bottom: 30px;
}
/*Layout*/

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"]{
    flex: 0 0 auto; /*grow - shrink - basis*/
    padding: 10px;
}

/*col*/
.col-1{
    flex-basis: calc( (100% / 12) * 1);
}

.col-2{
    flex-basis: calc( (100% / 12) * 2);
}

.col-3{
    flex-basis: calc( (100% / 12) * 3);
}

.col-4{
    flex-basis: calc( (100% / 12) * 4);
}

.col-5{
    flex-basis: calc( (100% / 12) * 5);
}

.col-6{
    flex-basis: calc( (100% / 12) * 6);
}

.col-7{
    flex-basis: calc( (100% / 12) * 7);
}

.col-8{
    flex-basis: calc( (100% / 12) * 8);
}

.col-9{
    flex-basis: calc( (100% / 12) * 9);
}

.col-10{
    flex-basis: calc( (100% / 12) * 10);
}

.col-11{
    flex-basis: calc( (100% / 12) * 11);
}

.col-12{
    flex-basis: calc( (100% / 12) * 12);
}

/*offset*/
.col-offset-1{
    margin-left: calc( (100% / 12) * 1);
}

.col-offset-2{
    margin-left: calc( (100% / 12) * 2);
}

.col-offset-3{
    margin-left: calc( (100% / 12) * 3);
}

.col-offset-4{
    margin-left: calc( (100% / 12) * 4);
}

.col-offset-5{
    margin-left: calc( (100% / 12) * 5);
}

.col-offset-6{
    margin-left: calc( (100% / 12) * 6);
}

.col-offset-7{
    margin-left: calc( (100% / 12) * 7);
}

.col-offset-8{
    margin-left: calc( (100% / 12) * 8);
}

.col-offset-9{
    margin-left: calc( (100% / 12) * 9);
}

.col-offset-10{
    margin-left: calc( (100% / 12) * 10);
}

.col-offset-11{
    margin-left: calc( (100% / 12) * 11);
}

.col-offset-12{
    margin-left: calc( (100% / 12) * 12);
}

/*JUSTIFY-CONTENT*/
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}

/*ALIGN-ITEMS*/
.align-start{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}

/*dimensioni rettangoli*/

.big{
    height: 84px;
}